* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.center {
  padding-left: calc(50% - 840px);
  padding-right: calc(50% - 840px);
}

.header {
  padding-top: 16px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
}
.header_logo {
  margin-right: 188px;
}
.header_menu {
  padding-top: 26px;
  display: flex;
  gap: 40px;
}
.header_contacts {
  display: flex;
  gap: 40px;
}
.header_contacts_links {
  padding-top: 24px;
  display: flex;
  gap: 16px;
}
.header_tel {
  padding-top: 14px;
}

.fundament {
  padding-top: 40px;
}
.fundament_box {
  display: flex;
  height: 664px;
  background-color: #191919;
  border-radius: 40px;
}
.fundament_column {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.fundament_text {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 120px;
  width: 604px;
}
.fundament_text_general {
  color: #f3f3f3;
  font-size: 52px;
  font-weight: 900;
}
.fundament_text_sub {
  color: #fff;
  opacity: 0.5;
  font-size: 24px;
  font-weight: 400;
}
.fundament_button {
  width: 288px;
  background-color: #EB1C24;
  border-radius: 16px;
  border: 0px;
  padding: 24px 32px 24px 32px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}
.fundament_images {
  position: relative;
  top: 0px;
  left: 3px;
}
.fundament_images_triangle {
  position: relative;
  top: 152px;
}
.fundament_images_cars {
  position: absolute;
  top: 96px;
  left: -134px;
}

.cards {
  padding-top: 120px;
  padding-bottom: 120px;
}
.cards_text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 32px;
}
.cards_text_general {
  color: #191919;
  font-size: 32px;
  font-weight: 900;
}
.cards_text_sub {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
}
.cards_text_card {
  margin-top: 22px;
  color: #191919;
  font-size: 24px;
  font-weight: 700;
}
.cards_text_cardsub {
  margin-top: 12px;
  color: #191919;
  opacity: 0.5;
  font-size: 16px;
  font-weight: 400;
}
.cards_text_price {
  color: #191919;
  font-size: 18px;
  font-weight: 700;
  margin-top: 10px;
}
.cards_cars {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.cards_cars_card {
  background-color: #f8f8f8;
  width: 370px;
  height: 438px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 20px 20px;
}
.cards_cars_card_price {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
}
.cards_withbutton {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards_button {
  width: 160px;
  background-color: #303030;
  border-radius: 12px;
  border: 0px;
  padding: 12px 20px 12px 20px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}
.cards_button_1 {
  margin-top: 32px;
  width: 300px;
  background-color: #D90008;
}
.cards_button:hover {
  background-color: #EB1C24;
}

.banners {
  padding-bottom: 120px;
}
.banners_cards {
  display: flex;
  gap: 12px;
}
.banners_cards_card {
  position: relative;
  text-align: left;
}
.banners_text_card {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 308px;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}
.banners_text_cardsub {
  position: absolute;
  top: 82px;
  left: 40px;
  width: 308px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
.banners_button {
  position: absolute;
  bottom: 40px;
  left: 40px;
  width: 190px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  border: 0px;
  padding: 12px 20px 12px 20px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}
.banners_button_1 {
  margin-top: 32px;
}
.banners_button:hover {
  background-color: #EB1C24;
}

.about {
  padding-bottom: 42px;
}
.about_card {
  position: relative;
  text-align: left;
}
.about_logo {
  position: absolute;
  top: 60px;
  right: 120px;
}
.about_text_card {
  position: absolute;
  top: 60px;
  left: 120px;
  color: #fff;
  font-size: 32px;
  font-weight: 900;
}
.about_text_cardsub {
  position: absolute;
  top: 116px;
  left: 120px;
  width: 816px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}
.about_properties {
  height: 164px;
  position: absolute;
  bottom: -58px;
  left: 120px;
  right: 120px;
  display: flex;
  gap: 3px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.12);
}/*# sourceMappingURL=style.css.map */